<div class="container">
  <nav class="navbar">
    <ul class="navbar__menu">
      <li class="navbar__menu-item">
        <a class="navbar__menu-item-link" routerLink="counters">
          <i class="fa fa-tachometer" aria-hidden="true"></i>
          <p>Liczniki</p>
        </a>

      </li>
      <li class="navbar__menu-item">
        <a class="navbar__menu-item-link" routerLink="tariff-groups">
          <i class="fa fa-folder-open" aria-hidden="true"></i>
          <p>Grupy trafyfowe</p>
        </a>
      </li>
      <li class="navbar__menu-item">
        <a class="navbar__menu-item-link" routerLink="costs">
          <i class="fa fa-calculator" aria-hidden="true"></i>
          <p>Koszt</p>
        </a>
      </li>
      <li class="navbar__menu-item">
        <a class="navbar__menu-item-link" routerLink="consumption">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>          
          <p>Zużycie</p>
        </a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
