<section class="content">
  <h1 class="title">Koszt</h1>
  <p>Tu możesz obliczyc koszt.</p>

  <div class="tab">
    <div class="tab-item tab-item-selected"
    [ngClass]="{'tab-item-selected': this.showTab }"
    (click)="toggleTab()">
      Koszt wg. licznikach
    </div>
    <div class="tab-item" 
    [ngClass]="{'tab-item-selected': !this.showTab }"
    (click)="toggleTab()">
      Koszt wg. grup taryfowych
    </div>
  </div>

  <div class="tab-content" *ngIf="this.showTab">
    <form class="form" #costForm="ngForm" (ngSubmit)="getCostForCounters(costForm)">
      <label for="month"> Miesiąc: </label>
      <select class="form-input" id="month" name="month" ngModel>
        <option *ngFor="let month of months" [value]="month.id">
          {{ month?.month }}
        </option>
      </select>
      <fieldset class="form-fieldset" ngModelGroup="counters">
        <legend>Wybierz liczniki: </legend>
        <div *ngFor="let counter of counters">
          <input type="checkbox" [attr.id]="counter.id" [name]="counter.id" [value]="counter.id" ngModel>
          <label [attr.for]="counter.id">{{ counter?.title }}</label>
        </div>
      </fieldset>
      <button type="submit" class="btn form-btn">
        Policz koszt
      </button>
    </form>
  </div>

  <div class="tab-content" *ngIf="!this.showTab">
    <form class="form" #costForm="ngForm" (ngSubmit)="getCostForTariffGroups(costForm)">
      <label for="month"> Miesiąc: </label>
      <select class="form-input" id="month" name="month" ngModel>
        <option *ngFor="let month of months" [value]="month.id">
          {{ month?.month }}
        </option>
      </select>
      <fieldset class="form-fieldset" ngModelGroup="tariffGroups">
        <legend>Wybierz grupy: </legend>
        <div *ngFor="let tariffGroup of tariffGroups">
          <input type="checkbox" [attr.id]="tariffGroup.id" [name]="tariffGroup.id" [value]="tariffGroup.id" ngModel>
          <label [attr.for]="tariffGroup.id">{{ tariffGroup?.title }}</label>
        </div>
      </fieldset>
      <button type="submit" class="btn form-btn">
        Policz koszt
      </button>
    </form>
  </div>
</section>