<section class="content">
  <h1 class="title">Koszt</h1>
  <p>Tu możesz obliczyc koszt.</p>
  <form class="form" #costForm="ngForm" (ngSubmit)="getCost(costForm)">
      <label for="month"> Miesiąc: </label>
      <select class="form-input" id="month" name="month" ngModel>
        <option *ngFor="let month of months" [value]="month.id">{{ month?.month }}</option>
      </select>
      <label for="counter">Licznik: </label>
      <select class="form-input" id="counter" name="counter" ngModel>
        <option *ngFor="let counter of counters" [value]="counter.id">{{ counter?.title }}</option>
      </select>
      <label for="tariffGroup">Grupa taryfowa: </label>
      <select class="form-input" id="tariffGroup" name="tariffGroup" ngModel>
        <option *ngFor="let tariffGroup of tariffGroups" [value]="tariffGroup.id">{{ tariffGroup?.title }}</option>
      </select>
      <button type="submit" class="btn form-btn">
        Policz koszt
      </button>
    </form>
</section>